/* COLLECTION */


* {
  box-sizing:border-box
}

body {
  background: #000000;
  color: #EAEAEA;
  margin: 0;
  padding: 0px; 
  line-height: 1.3;
  font-size: 18px;
  min-height: 100vh;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

header {
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 300px;
  margin: 16px auto;
  padding: 8px 16px;
  opacity: 90%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 35px;
  backdrop-filter: blur(10px);
  
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 50%;

}

footer {
  padding: 16px;
  text-align: center;
}

.button {
  border: 1px solid #8785daaa;
  padding: 4px 16px;
  border-radius: 40px;
}

main {
  padding: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

p {
  /* max-width: 300px; */
  color: rgb(194, 183, 239);
  opacity: 80%;
  margin-bottom: 28px;
}

h1 {
  margin: 0;
}


.active {
  border-bottom: 2px solid;
}

h2 {
  padding-left: 15px;
}

p {
  padding-left: 15px;
}

/* GRID SYSTEM */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

}

.grid div {
  text-align: center;
  margin-bottom: 120px;
}

.buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 70px;
  border: 2px solid #ffffffaa;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
  margin: 20px; /* adds space from the page edge */
}

.buttons:hover {
  opacity: 0.5;
}


/* @media (min-width: 600px:) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

} */

