/* MY PHOTOGRAPHY */


* {
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #EAEAEA;
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

.home {
  background-image: url(images/sun.jpg)
}